- 
  const articlesData = [
    {
      title: 'Basic', 
      priceMontly: '19.99', 
      priceAnnualy: '199.99', 
      infoItems: [
        '500 GB Storage',
        '2 Users Allowed',
        'Send up to 3 GB'
      ]
    },
    {
      title: 'Professional', 
      priceMontly: '24.99', 
      priceAnnualy: '249.99', 
      infoItems: [
        '1 TB Storage',
        '5 Users Allowed',
        'Send up to 10 GB'
      ],
      extraClass:'professional'
    },
    {
      title: 'Master', 
      priceMontly: '39.99', 
      priceAnnualy: '399.99', 
      infoItems: [
        '2 TB Storage',
        '10 Users Allowed',
        'Send up to 20 GB'
      ]
    }
  ]

.our-pricing-articles
  each articleData in articlesData
    +article(articleData)